@charset "ISO-8859-1";

body {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400; /* Bold weight */
  font-style: normal;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1,
h2,
h3,
h4 {
  color: #333;
}

img {
  float: right;
  border-radius: 5%;
  margin-left: 10px;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
}
